<section class="section">
  <div class="container">
    <div class="buttons is-pulled-right">
      <button
        class="button is-info is-large is-light"
        [disabled]="editMode"
        (click)="addNewVisitor()"
      >
        <fa-icon [icon]="iconfaUserPlus"></fa-icon>
        <span class="button-text">New Visitor</span>
      </button>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div *ngFor="let visitor of visitorsList; let i = index">
      <app-visitor
        [visitor]="visitor"
        (closeVisitor)="closeVisitor($event, i)"
      ></app-visitor>
    </div>
  </div>
</section>
