<section class="section">
  <div class="container">
    <div class="buttons is-pulled-right">
      <button
        class="button is-info is-large is-light"
        (click)="addNewVisitor()"
      >
        <fa-icon [icon]="iconfaUserPlus"></fa-icon>
        <span class="button-text">New Visitor</span>
      </button>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div *ngFor="let visitor of visitorsList">
      <app-visitor [visitor]="visitor"></app-visitor>
    </div>
  </div>
</section>
